Skip
  to
  content
  Search
  or
  jump
  to…
  Pull
  requests
  Issues
  Marketplace
  Explore
  @oim5nu
  emeeks
  /
  d3_in_action_2
  24
  385
  242
  Code
  Issues
  8
  Pull
  requests
  Actions
  Projects
  Wiki
  Security
  Insights
  d3_in_action_2/chapter9/reactd3/src/App.css
  @curran
  curran
  Indation
  &
  formatting
  for
  Chapter
  9
  Latest
  commit
  65d58d2
  on
  22
  Feb
  2017
  History
  1
  contributor
  44
  lines
  (36 sloc)
  550
  Bytes
  .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: #fe9922;
  opacity: 0.5;
}

rect.handle {
  fill: #fe9922;
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: #75739f;
  fill: #5eafc6;
}
